{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StashCodes - Home</title>
    <meta name="description" content="StashCodes is a platform for learning and growth. Unlock your potential with us.">
    <meta name="keywords" content="StashCodes, Learning, Growth, Potential">
    <meta name="author" content="StashCodes">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <style>
        
        .ml2 {
            font-weight: 900;
            font-size: 3.2em;
        }

        .ml2 .letter {
            display: inline-block;
            line-height: 1em;
        }
        .ml14 {
            font-weight: 200;
            font-size: 2em;
        }

        @media (max-width: 768px) {
            .ml14 {
                font-size: 1.5em;
            }
        }

        .ml14 .text-wrapper {
            position: relative;
            display: inline-block;
            padding-top: 0.1em;
            padding-right: 0.05em;
            padding-bottom: 0.15em;
        }

        .ml14 .line {
            opacity: 0;
            position: absolute;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: #fff;
            transform-origin: 100% 100%;
            bottom: 0;
        }

        .ml14 .letter {
            display: inline-block;
            line-height: 1em;
        }
        .mainhome {
            background-image: url('{% static "main.png" %}'); 
            background-size: cover; 
            background-position: center;
        }
        .mainhometxt {
            background-color: rgba(0, 0, 0, 0.5) !important;
            height: 80vh;
        }
        .mainheader {
            background-color: rgba(0, 0, 0, 0.5) !important;
        }
        .cardimg {
            height: 200px !important;
            width: 500px !important;
            object-fit: fit;
        }
    </style>
</head>
<body class="bg-gray-100">
    <div class="mainhome" >
    <!-- Header Section -->
    {% include "header.html" %}
    <section class="bg-blue-500 text-white text-center py-8 relative flex flex-col justify-center mainhometxt">
        <h1 class="ml2 text-4xl font-bold mb-4">Unlock Your Potential with StashCodes</h1>
        <p class="ml14 text-lg">
            <span class="text-wrapper">
                <span class="letters">Embark on an Inspiring Journey of Learning and Growth</span>
                <span class="line"></span>
            </span>
            <h1 >
        </p>
    </section>
    </div>



    <!-- Who We Are Section -->
    <section class="container mx-auto py-8 px-4" id="about">
        <div class="text-center">
            <h2 class="text-2xl font-semibold mb-4">Who We Are</h2>
            <p class="text-lg mb-8">
                StashCodes are IT services and IT consultancy that specializes in creating innovative solutions for businesses. We are passionate about technology and believe in the power of software to transform the world. Our internship program is just one of the ways in which we are investing in the future of the industry.
            </p>
            <p class="text-lg mb-8">
                At StashCodes, we believe practical knowledge is the key to success in the tech industry. Our aim is to help students lacking basic skills by offering hands-on learning through live projects and real-world examples.
            </p>
        </div>
    </section>

    <!-- Services Section -->
    <section class="container mx-auto py-8 px-4" id="services">
        <div class="text-center">
            <h2 class="text-2xl font-semibold mb-4">Internship Positions</h2>
            <p class="text-lg mb-8">
                Join our exciting internship programs to kickstart your career in tech!
            </p>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
                <!-- Web Development Internship Card -->
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="{% url 'apply' %}" title="Apply Now"></a>
                        <img class="rounded-t-lg cardimg" src="{% static 'web.jpeg' %}" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="{% url 'apply' %}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Web Development Internship</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Gain practical work experience and an introduction to crafting and enhancing web-based systems.
                        </p>
                        <a href="{% url 'apply' %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Apply Now
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- Android App Development Internship Card -->
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="{% url 'apply' %}" title="Apply Now">
                        <img class="rounded-t-lg cardimg" src="{% static 'android.png' %}" alt=""  />
                    </a>
                    <div class="p-5">
                        <a href="{% url 'apply' %}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Android App Development Internship</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Start your journey in app development and unlock endless possibilities in the realm of mobile innovation.
                        </p>
                        <a href="{% url 'apply' %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Apply Now
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- Data Science Internship Card -->
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="{% url 'apply' %}" title="Apply Now">
                        <img class="rounded-t-lg cardimg" src="{% static 'datascience.jpg' %}" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="{% url 'apply' %}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Data Science Internship</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Dive into the world of data science and gain practical experience in analyzing data and deriving insights.
                        </p>
                        <a href="{% url 'apply' %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Apply Now
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- Java Programming Internship Card -->
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="{% url 'apply' %}" title="Apply Now">
                        <img class="rounded-t-lg cardimg" src="{% static 'java.jpg' %}" alt=""  />
                    </a>
                    <div class="p-5">
                        <a href="{% url 'apply' %}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Java Programming Internship</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Master the fundamentals of Java programming and enhance your skills in web application development.
                        </p>
                        <a href="{% url 'apply' %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Apply Now
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- Python Programming Internship Card -->
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="{% url 'apply' %}" title="Apply Now">
                        <img class="rounded-t-lg cardimg" src="{% static 'python.jpg' %}" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="{% url 'apply' %}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Python Programming Internship</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Dive into Python programming language and learn how to build web applications and perform data analysis.
                        </p>
                        <a href="{% url 'apply' %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Apply Now
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- C++ Programming Internship Card -->
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="{% url 'apply' %}" title="Apply Now">
                        <img class="rounded-t-lg cardimg" src="{% static 'cpp.jpeg' %}" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="{% url 'apply' %}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">C++ Programming Internship</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Gain mastery in C++ programming and open doors to amazing job opportunities with our certification program.
                        </p>
                        <a href="{% url 'apply' %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Apply Now
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- Cybersecurity Internship Card -->
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="{% url 'apply' %}" title="Apply Now">
                        <img class="rounded-t-lg cardimg" src="{% static 'cyber.jpg' %}" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="{% url 'apply' %}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Cybersecurity Internship</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Learn the principles of cybersecurity and gain the skills to protect systems and networks from cyber threats.
                        </p>
                        <a href="{% url 'apply' %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Apply Now
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- Artificial Intelligence Internship Card -->
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="{% url 'apply' %}" title="Apply Now">
                        <img class="rounded-t-lg cardimg" src="{% static 'ai.jpg' %}" alt=""/>
                    </a>
                    <div class="p-5">
                        <a href="{% url 'apply' %}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Artificial Intelligence Internship</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Gain mastery in Artificial Intelligence and open doors to amazing job opportunities with our certification program.
                        </p>
                        <a href="{% url 'apply' %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Apply Now
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- Machine Learning Internship Card -->
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="{% url 'apply' %}" title="Apply Now">
                        <img class="rounded-t-lg cardimg" src="{% static 'ml.jpg' %}" alt=""  />
                    </a>
                    <div class="p-5">
                        <a href="{% url 'apply' %}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Machine Learning Internship</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Gain mastery in Machine Learning and open doors to amazing job opportunities with our certification program.
                        </p>
                        <a href="{% url 'apply' %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Apply Now
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>


    {% include "footer.html" %}
    <script>
        var textWrapper = document.querySelector('.ml2');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({loop: true})
        .add({
            targets: '.ml2 .letter',
            scale: [4,1],
            opacity: [0,1],
            translateZ: 0,
            easing: "easeOutExpo",
            duration: 950,
            delay: (el, i) => 70*i
        }).add({
            targets: '.ml2',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });

        var textWrapper = document.querySelector('.ml14 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({loop: true})
        .add({
            targets: '.ml14 .line',
            scaleX: [0,1],
            opacity: [0.5,1],
            easing: "easeInOutExpo",
            duration: 900
        }).add({
            targets: '.ml14 .letter',
            opacity: [0,1],
            translateX: [40,0],
            translateZ: 0,
            scaleX: [0.3, 1],
            easing: "easeOutExpo",
            duration: 800,
            offset: '-=600',
            delay: (el, i) => 150 + 25 * i
        }).add({
            targets: '.ml14',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
    </script>
</body>
</html>
